/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  0.5s ease;
}

button {
    background: linear-gradient(45deg, #3498db, #2ecc71);
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    outline: none;
    transition: 0.4s ease, 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #2ecc71, #3498db);
    transform: scale(1.05);
}

button:active {
    background: linear-gradient(45deg, #27ae60, #2980b9);
    transform: scale(0.95);
}